@mixin header-content {
    background-image: url("../img/background.png");
    width: 100vw;
    height: 80vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    vertical-align: middle;
    top: 0;
    color: #fff;
    display: inline-block;
    padding: 20px 0;
    .container {
        max-width: $width-container;
        margin: 0 auto;
    }

    .main-top {
        float: left;
        width: 300px;
        h1 {
            display: inline-block;
            margin: 0;
        }
        i {
            color: $yellow-color;
            font-size: 36px;
            float: left;
            display: inline-block;
            margin: 2px 20px;
        }
    }
    .header-contact {
        float: right;
        width: 200px;
        span {
            font-size: 14px;
            display: block;
        }
        i {
            color: #fff;
            font-size: 30px;
            float: left;
            display: inline-block;
            margin: 2px 20px;
        }
    }
}
