$text-color: #ffffff;

$main-font: 'Montserrat', sans-serif;

$gold-color: #ffa754;
$orange-color: #e9532a;
$navy-color: #49b5ac;
$green-color: #3b9d89;
$purple-color: #714178;
$black-color: #000000;
$shadow-color: #969696;
$article-color: #555555;
