* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: $bg-color;
    color: $text-color;
    font-family: $main-font;
    font-size: 16px;
}

.container {
    max-width: 1200px;
    margin: auto;
}

::selection {
    background-color: lighten($red-color, 5%);
    color: $text-color;
}




