/*Level Style - Start*/
.level {
    margin: 20px 0;
    .level__container {
        background-color: $white-color;
        background-image: url('../img/level_bg.png');
        background-repeat: no-repeat;
        background-position: top right;
        background-size: contain;
        .level__content {
            padding: 50px;
        
        &__title {
            color: $bg-color;
            font-family: $header-font;
            font-size: 32px;
            font-style: italic; 
            font-weight: 300;
            }
        &__paragraph {
            color: rgba($bg-color, 0.5);
            font-family: $main-font;
            font-size: 16px;
            font-weight: 300;
            line-height: 22px;
            }
        }
        
    }
    
}

/*Level Style - End*/