/*Plus Style - Start*/

.plus {
    margin: 90px 0 0 0;
    width: 100%;
    &__container {
        background-image: url('../img/plus_bg.jpg');
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        padding: 55px 100px;
    }
        &__content {
            padding: 40px 30px 30px 30px;
            background-color: $white-color;
            &__title {
                color: $bg-color;
                font-family: $header-font;
                font-size: 16px;
                font-weight: 700;
                line-height: 38px;
            }
            &__paragraph {
                color: $bg-color;
                font-family: $header-font;
                font-size: 16px;
                font-weight: 300;
                line-height: 22px;
            }
            &__img {
                display: block;
                height: 30px;
                fill: $red-color;
            }
        
    }
}

/*Plus Style - End*/
