$bg-color: #040404;
$text-color: #faf9f9;
$white-color: #ffffff;
$grey-color: #28333f;
$grey-light-color: #c5c5c5;
$faq-color: #f7f7f7;
$faq-bg-color: #0c0c0c;
$red-color: #f34336;
$yellow-color: #efc01b;
$main-font: 'Montserrat', sans-serif;
$header-font: 'Source Sans Pro', sans-serif;
$text-width: 600px;