$bg-color: #040404;
$text-color: #faf9f9;
$white-color: #ffffff;
$grey-color: #28333f;
$grey-light-color: #c5c5c5;
$red-color: #f34336;
$main-font: 'Montserrat', sans-serif;
$header-font: 'Source Sans Pro', sans-serif;