* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: #00061d;
    color: #f8f8f8;
    margin: auto;
}

.sesame {
    width: 100%;
    height: 100%;
    background-image: radial-gradient($bg-color 5%, transparent 6%), 
        radial-gradient($bg-color 5%, transparent 6%);
    background-size: 40px 30px;
    background-position: 10px 0px, 30px 15px;

}

.row {
    max-width: 1230px;
    margin: auto;
    overflow: hidden;
}

section {
    margin: 110px 0 22px 0;
    overflow: hidden;
}

button,
a.button {
    width: 270px;
    height: 60px;
    background-image: linear-gradient(90deg, #f44336, #e91e63);
    background-color: transparent;
    margin: 30px 0;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    color: #f8f8f8;
    border-radius: 2px;
    text-align: center;
    line-height: 60px;
    padding: 0;
}

a,
a:hover,
a:visited,
a:active,
a:focus {
    color: #f8f8f8;
}

.menu a,
.menu button, .dropdown {
    padding: 0;
}

















/*   Header + Menu Section Style - Start   */

section.header {
    background-color: #000;
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    margin: auto;
    height: 100vh;
    width: 100%;
}

header {
    width: 100%;
    height: 100vh;
    overflow: hidden
}

.main-menu {
    margin-top: 60px;
    width: 100%;
    z-index: 100;
}

/*
.main-menu-top {
    margin-top: 0;
    background-color: yellow;
    position: fixed;
    width: 100%;
    z-index: 100;
}
*/

header nav.main-menu ul {
    margin: 0;
    float: left;
    font-size: 0;
}

header nav.main-menu ul li {
    display: inline-block;
    list-style: none;
    text-transform: uppercase;
    outline: none;
    text-align: center;
    position: relative;
    top: 0;
    padding: 0 20px;
}

header nav.main-menu ul li a {
    text-decoration: none;
    border-bottom: 1px solid transparent;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 300;
    color: rgba(248, 248, 248, 0.63);
    font-size: 11pt;
    transition: all 0.5s linear;
}

header nav.main-menu ul:not(.logo) li:hover a {
    color: #f8f8f8;
    border-bottom: 1px solid #f8f8f8;
    margin: 0;
    padding: 0;
    text-shadow: 0px 0px 4px #f8f8f8;
}

header nav.main-menu ul.logo {
    width: 15%;
    line-height: 60px;
}

header nav.main-menu ul.logo li {
    text-align: left;
    margin: 5px 0;

}

header nav.main-menu ul.main-nav {
    text-align: center;
    width: 65%;
}

header nav.main-menu ul.main-nav li a {
    display: block;
    line-height: 70px;
}

header nav.main-menu ul.contact-nav {
    text-align: right;
    width: 20%;
    margin-right: 0;
    padding-right: 0;
}


header nav.main-menu ul.contact-nav li a {
    display: block;
    line-height: 70px;
}

header div.caption {
    width: 50%;
    text-align: center;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

header div.caption h1 {
    font-family: 'Playfair Display', san-serif;
    font-size: 32pt;
    color: #f8f8f8;
    font-weight: 700;
    font-style: italic;
}

header div.caption p {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 16pt;
    color: rgba(248, 248, 248, 0.25);
    padding: 0;
    margin: 0;
}

header div.header-icon {

    position: absolute;
    bottom: 10px;
    left: 0;
    right: 0;
    text-align: center;
}

header div.header-icon a {
    display: inline-block;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 11pt;
    color: #f8f8f8;
}

header div.header-icon a#music {
    float: right;
}


#scroll {
    padding-top: 60px;
}

#scroll span {
    position: absolute;
    top: 10px;
    left: 48%;
    width: 1px;
    height: 40px;
    background-color: rgba(248, 248, 248, 0.25);
}

#scroll span::before {
    position: absolute;
    top: 2px;
    left: 48%;
    content: " ";
    width: 1px;
    height: 10px;
    margin-left: -0.5px;
    background-color: #f8f8f8;
    -webkit-animation: scroll 2s infinite;
    animation: scroll 2s infinite;
    transition: all 2s linear;
    box-shadow: 0px 0px 5px 0px #f8f8f8;
}

@-webkit-keyframes scroll {
    0% {
        -webkit-transform: translate(0, 0);
        opacity: 1;
    }
    50% {
        opacity: 1;
    }
    70% {
        -webkit-transform: translate(0, 30px);
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
}

@keyframes scroll {
    0% {
        transform: translate(0, 0);
        opacity: 1;
    }
    50% {
        opacity: 1;
    }
    70% {
        transform: translate(0, 30px);
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
}


/*   Header + Menu Section Style - End   */

section.author {
    margin: 110px 0 22px 0;
    overflow: hidden;
}

section.author div.author-image {
    display: inline-block;
    width: 400px;
    height: auto;
    font-size: 0;
    margin: 0;
    padding: 0;
    float: left;
    margin-right: 15px;
    overflow: hidden;
    position: relative;
}

section.author div#author-item-1 {
    background-image: url("../img/author_01.png");
    width: 400px;
    height: 350px;
}

section.author div#author-item-2 {
    background-image: url("../img/author_02.png");
    width: 400px;
    height: 350px;
}

section.author div#author-item-3 {
    background-image: url("../img/author_03.png");
    width: 400px;
    height: 350px;
}

section.author div.author-image:nth-child(3) {
    margin-right: 0;
}

section.author div.author-btn a {
    text-align: center;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}


section.author div.author-image:hover {
    filter: contrast(1.4);
    
}


section.author div.author-image::after {
    content: "";
    background-color: rgba(0,0,0, 0.8);

}


section.author div.author-image .item-mask {
    width: 100%;
    height: 100%;
    background-color: rgba(52, 74, 162, 0.6);
    opacity: 0;
    position: absolute;
    top: 0;
    padding: 5px;
}

section.author div.author-image .item-mask:hover {
    opacity: 1;
    transition: all 0.5s linear;
}

section.author div.author-image .item-mask .item-content {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin: 0 30px 0 80px;
    widows: 100%;
    height: 100%;
}

section.author div.author-image .item-mask .item-content .item-content-inner {
    position: absolute;
    bottom: 30px;
    left: 0;
    right: 0;
    padding: 10px 20px;
    background-image: linear-gradient(90deg, rgba(244, 67, 54, 0.8), rgba(233, 30, 99, 0.8));
    background-color: transparent;
    text-align: left;
}

section.author div.author-image .item-mask .item-content .item-content-inner h2 {
    font-family: 'Playfair Display', san-serif;
    font-size: 32px;
    color: #f8f8f8;
    font-weight: 700;
    font-style: italic;
    margin: 0;
    line-height: 40px;
    margin-bottom: 10px;
}



section.author div.author-image .item-mask .item-content .item-content-inner span {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 10px;
    color: rgba(248, 248, 248, 0.67);
    padding: 0;
    margin: 0;
    margin-right: 120px;
    text-transform: uppercase;
}

section.author div.author-image .item-mask .item-content .item-content-inner img.arrow {
    margin: 4px 0;
    vertical-align: middle;
    transition: all 2s linear;
}








section.support {
    margin: 110px 0 22px 0;
    overflow: hidden;
}

section.support div.support-animation {
    position: relative;
    display: inline-block;
    width: 285px;
    height: 370px;
    margin-top: 30px;
    margin-right: 30px;
    padding: 40px 30px;
    float: left;
    background: #1c265c;
    color: #f8f8f8;
    border-radius: 2px;
    border: none;
}

section.support div.support-animation:nth-child(5) {
    margin-right: 0;

}

section.support div.support-header h2 {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 28pt;
    color: #f8f8f8;
    padding: 0;
    margin: 0;
}

section.support div.support-header h3 {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 11pt;
    color: rgba(248, 248, 248, 0.36);
    padding: 0;
    margin: 0;
    text-transform: uppercase;
}

section.support div.support-animation h2 {
    font-family: 'Playfair Display', san-serif;
    font-size: 26pt;
    color: #f8f8f8;
    font-weight: 700;
    font-style: italic;
    margin: 0;
    text-shadow: -2px 2px #00061d;
    line-height: 40px;
}

section.support div.support-animation h3 {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 10pt;
    color: #f8f8f8;
    padding: 0;
    margin: 0;
    margin-top: 80px;
    text-transform: uppercase;
    padding: 0;
    text-shadow: -1px 1px #00061d;
}

section.support div.support-animation div.support-more {
    position: absolute;
    bottom: 10px;
    left: 0;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 10pt;
    color: rgba(248, 248, 248, 0.67);
    text-transform: uppercase;
    width: 100%;
    padding: 10px 20px;
}

section.support div.support-animation div.support-more a {
    color: rgba(248, 248, 248, 0.37);
}

section.support div.support-animation div.support-more span {
    padding-right: 65px;
}


section.support div.support-animation div.support-more img.arrow {
    margin: 8px 0;
    vertical-align: middle;
    transition: all 2s linear;
}

/*
section.support div.support-animation div.support-more:hover img.arrow {
    -webkit-animation: arrow 2s both ;
    animation: arrow 2s both;
    transition: all 2s linear;
}
*/

@-webkit-keyframes arrow {
    0% {
        -webkit-transform: translateX(0);
        opacity: 1;
    }
    100% {
        -webkit-transform: translateX(20px);
        opacity: 1;
    }
}

@keyframes arrow {
    0% {
        -webkit-transform: translateX(0);
        opacity: 1;
    }
    100% {
        -webkit-transform: translateX(20px);
        opacity: 1;
    }
}


div.icon {
    width: 100px;
    height: 100px;
    left: 0;
    right: 0;
    top: 0;
    margin: 0 auto;
}



#video {
    position: relative;
    width: 80px;
    height: 80px;
    border-radius: 50%;
/*
    mask-image: url("../img/circle_big.svg");
    -webkit-mask-image:  url("../img/circle_big.svg");
*/
    background-image: linear-gradient(135deg, #2196f3, #3f51b5);
    background-size: cover;
    background-repeat: no-repeat;
    transition: all 1s linear;
    transform-origin: center;
    box-shadow: 0px 0px 100px 20px rgba(63, 81, 181, 0.6);
}

#video::after {
    content: "";
    position: absolute;
    top: 30px;
    right: -20px;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-image: linear-gradient(135deg, #2196f3, #3f51b5);
    box-shadow: 0px 0px 20px 2px rgba(63, 81, 181, 0.8);
    transition: all 2s linear, box-shadow 0s linear;
}

#video::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background-image: linear-gradient(135deg, #248cef, #344aa2);
    filter: blur(40px);
}

#video:hover {
    transform: translateX(-10px);
    box-shadow: 0px 0px 100px 20px rgba(63, 81, 181, 0.8);
}

#video:hover::after {
    transform: rotate(-50deg);
    background-image: linear-gradient(135deg, #e42774, #bd354b);
    box-shadow: 0px 0px 20px 2px rgba(189, 53, 75, 0.8);
    transform-origin: -45px;
    transition: transform 1s linear;
}






#live {
    position: relative;
    top: 20px;
    width: 80px;
    height: 60px;
        /*
    mask-image: url("../img/circle_big.svg");
    -webkit-mask-image:  url("../img/circle_big.svg");
    */
    background-image: linear-gradient(135deg, #2196f3, #3f51b5);
    background-size: cover;
    background-repeat: no-repeat;
    transition: all 0.5s linear;
    transform-origin: center;
    box-shadow: 0px 0px 100px 20px rgba(63, 81, 181, 0.6);
}

#live::after {
    content: "";
    position: absolute;
    top: -15px;
    right: 0;
    width: 80px;
    height: 10px;
    background-image: linear-gradient(135deg, #2196f3, #3f51b5);
    box-shadow: 0px 0px 20px 2px rgba(63, 81, 181, 0.8);
    transition: all 0.5s linear, box-shadow 0s linear;
    transform: rotate(10deg);
    transform-origin: right bottom;
}

#live::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 70px;
    height: 70px;
    background-image: linear-gradient(135deg, #248cef, #344aa2);
    filter: blur(40px);
}

/*
#live:hover {
    transform: translateX(10px);
    transform-origin: right bottom;
    box-shadow: 0px 0px 100px 20px rgba(63, 81, 181, 0.8);
}
*/

#live:hover::after {
    transform: rotate(0deg);
    background-image: linear-gradient(135deg, #e42774, #bd354b);
/*    box-shadow: 0px 0px 20px 2px rgba(189, 53, 75, 0.8);*/
    transform-origin: right bottom;
    transition: transform 0.5s linear;
}



#platform {
    position: relative;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background-image: linear-gradient(135deg, #2196f3, #3f51b5);
    transition: all 1s linear;
    transform-origin: center;
    box-shadow: 0px 0px 100px 0px rgba(63, 81, 181, 0.2);
}

#platform::after {
    content: "";
    position: absolute;
    top: 30px;
    right: -20px;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-image: linear-gradient(135deg, #2196f3, #3f51b5);
    box-shadow: 0px 0px 10px 2px rgba(52, 74, 162, 0.8);
    transition: all 2s linear, box-shadow 0s linear;
}

#platform::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background-image: linear-gradient(135deg, #248cef, #344aa2);
    filter: blur(40px);
}

#platform:hover {
    transform: translateX(-10px);
    box-shadow: 0px 0px 100px 0px rgba(63, 81, 181, 0.2);
}

#platform:hover::after {
    transform: rotate(-50deg);
    background-image: linear-gradient(135deg, #e42774, #bd354b);
    box-shadow: 0px 0px 20px 0px rgba(189, 53, 75, 0.8);
    transform-origin: -45px;
    transition: transform 1s linear;
}


section.footer {
    width: 100%;
    height: 30px;
    margin: 110px 0 20px;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 11pt;
    color: rgba(248, 248, 248, 0.37);
}

section.footer div.footer-wrapper:first-child {
    margin-right: 30px;
}

section.footer div.footer-wrapper a {
    color: rgba(248, 248, 248, 0.37);
    font-size: 11pkt;
    text-transform: uppercase;
}

section.footer div.footer-wrapper > i {
    margin: 0 2px;
    background: -webkit-linear-gradient(90deg, #f44336, #e91e63);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: pulse 1s linear infinite;
}



@keyframes pulse {
    0% {
        -webkit-transform: scale(1.1);
        -moz-transform: scale(1.1);
        -o-transform: scale(1.1);
        -ms-transform: scale(1.1);
        transform: scale(1.1);
    }
    50% {
        -webkit-transform: scale(0.8);
        -moz-transform: scale(0.8);
        -o-transform: scale(0.8);
        -ms-transform: scale(0.8);
        transform: scale(0.8);
    }
    100% {
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -o-transform: scale(1);
        -ms-transform: scale(1);
        transform: scale(1);
    }

}

section.about-us {
    position: relative;
}

section.about-us div.about-us-content {
    float: left;
    width: 50%;
    margin-right: 30px;
}

section.about-us div.about-us-image {
    position: absolute;
    top: 0;
    right: 0;
    float: right;
}

section.about-us div.about-us-header h2 {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    color: #f8f8f8;
    padding: 0;
    margin: 0;
}

section.about-us div.about-us-header h2 > span {
    color: #3f51b5;
}

section.about-us div.about-us-header p {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 16pkt;
    color: rgba(248, 248, 248, 0.25);
    padding: 0;
    margin: 0;
    margin-top: 25px;
}







section.knowledge {
    margin: 110px 0 22px 0;
    overflow: hidden;
}

section.knowledge div.knowledge-item {
    display: inline-block;
    width: 400px;
    height: auto;
    font-size: 0;
    margin: 0;
    padding: 0;
    float: left;
    margin-right: 15px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color: #fff;
    text-align: center;
    font-size: 14px;
    position: relative;
}

section.knowledge div#knowledge-item-1 {
    background-image: url("../img/author_01.png");
    width: 400px;
    height: 350px;
}


section.knowledge div#knowledge-item-2 {
    background-image: url("../img/knowledge_01.png");
    width: 400px;
    height: 350px;
}


section.knowledge div#knowledge-item-3 {
    background-image: url("../img/knowledge_01.png");
    width: 400px;
    height: 350px;
}


section.knowledge div.knowledge-item:nth-child(4) {
    margin-right: 0;
}

section.knowledge div.knowledge-item img:hover:not(.arrow) {
    content: " ";
    width: 100%;
    height: 100%;
    background-color: rgba(248, 248, 248, 0.25);
}


section.knowledge div.knowledge-header h2 {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 28pt;
    color: #f8f8f8;
    padding: 0;
    margin: 0;
}

section.knowledge div.knowledge-header h3 {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 11pt;
    color: rgba(248, 248, 248, 0.36);
    padding: 0;
    margin: 0;
    text-transform: uppercase;
    margin-bottom: 30px;
}


/*
section.knowledge div.knowledge-item:hover {
    filter: contrast(1.4);
}
*/

/*
section.knowledge div.knowledge-item::after {
    content: "";
    background-color: rgba(52, 74, 162, 0.2);

}
*/

/*
section.knowledge div.knowledge-item .item-mask {
    width: 100%;
    height: 100%;
    background-color: rgba(52, 74, 162, 0.8);
    opacity: 0;
    position: absolute;
    top: 0;
    padding: 5px;
}
*/

/*
section.knowledge div.knowledge-item .item-mask:hover {
    opacity: 1;
    transition: all 0.3s ease-in-out;
}
*/

section.knowledge div.knowledge-item .item-mask .item-content .item-content-inner {
    position: absolute;
    top: 65%;
    left: 0;
    right: 0;
    padding: 10px 30px;
    background-image: linear-gradient(90deg, rgba(244, 67, 54, 0.8), rgba(233, 30, 99, 0.8));
    background-color: transparent;
    text-align: left;
}

section.knowledge div.knowledge-item .item-mask .item-content .item-content-inner h2 {
    font-family: 'Playfair Display', san-serif;
    font-size: 32px;
    color: #f8f8f8;
    font-weight: 700;
    font-style: italic;
    margin: 0;
    line-height: 40px;
    margin-bottom: 10px;
}



section.knowledge div.knowledge-item .item-mask .item-content .item-content-inner span {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 10px;
    color: rgba(248, 248, 248, 0.36);
    padding: 0;
    margin: 0;
    margin-right: 10px;
    text-transform: uppercase;
}




section.newsletter {
    position: relative;
}

section.newsletter div.newsletter-content {
    float: left;
    width: 50%;
    margin-right: 30px;
}

section.newsletter div.newsletter-image {
    position: absolute;
    top: 0;
    right: 0;
    float: right;
}

section.newsletter div.newsletter-header h2 {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    color: #f8f8f8;
    padding: 0;
    margin-top: 60px;
}

section.newsletter div.newsletter-header h2 > span {
    color: #3f51b5;
}

section.newsletter div.newsletter-header p {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 16pkt;
    color: rgba(248, 248, 248, 0.25);
    padding: 0;
    margin: 0;
    margin: 25px 0;
}



section.newsletter form input[type="text"],
section.newsletter form input[type="email"] {
    width: 340px;
    height: 40px;
    color: #f8f8f8;
    padding: 10px 0;
    margin: 10px 0 30px 0;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 16pkt;
    background-color: transparent;
    border: none;
    outline: none;
    border-bottom: 1px solid #f8f8f8;
    transition: all 0.5s linear;
}


section.newsletter form input[type="text"]::placeholder,
section.newsletter form input[type="email"]::placeholder {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 16pkt;
    background-color: transparent;
    color: rgba(248, 248, 248, 0.25);
    padding: 10px 0;
}

section.newsletter form input[type="text"]:focus,
section.newsletter form input[type="email"]:focus {
    border: none;
    outline: none;
    border-bottom: 1px solid #f8f8f8;
    color: #f8f8f8;
    box-shadow: none;
}


section.newsletter form input[type="checkbox"] + label {
    display: inline-block;
    cursor: pointer;
    position: relative;
    padding: 0;
    padding-left: 20px;
    margin: 0;
    vertical-align: middle;
    color: #f8f8f8;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 16pkt;
    vertical-align: middle;
}

section.newsletter form input[type="checkbox"] {
    display: none;
    position: relative;
}

section.newsletter form input[type="checkbox"] + label::before {
    content: "";
    display: inline-block;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    margin-right: 10px;
    position: absolute;
    left: 0;
    background-color: #f8f8f8;
    top: 6px;

}


section.newsletter form input[type="checkbox"]:checked + label::before {
    color: #f8f8f8;
    background-color: transparent;
    background-image: linear-gradient(135deg, #248cef, #344aa2);
    border: 2px solid #fff;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    line-height: 6px;
    vertical-align: middle;
    box-shadow: 0px 0px 10px #248cef;
}


section.newsletter form label.correct::before {
    content: "\2022";
    font-size: 18px;
    background: linear-gradient(90deg, #f4d736, #6ae91e);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    border-radius: 50%;
    vertical-align: middle;
    padding: 0 8px;
    text-shadow: 0px 0px 10px  #4be727;
}

section.newsletter form label.incorrect::before {
    content: "\2022";
    font-size: 18px;
    background: linear-gradient(90deg, #f44336, #e91e63);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    border-radius: 50%;
    vertical-align: middle;
    padding: 0 8px;
    text-shadow: 0px 0px 10px #e91e63;
}

.floated-label-wrapper {
    position: relative;
}

.floated-label-wrapper label[for="name"], .floated-label-wrapper label[for="email"] {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 700;
    color: rgba(248, 248, 248, 0.25);
    padding: 0;
    margin: 0;
    opacity: 0;
    position: absolute;
    top: -30px;
    transition: all 0.15s ease-in;
    z-index: -1;
}


.floated-label-wrapper label.show {
    opacity: 1;
    top: -20px;
    z-index: 1;
    transition: all 0.15s ease-in;
}



/*
section.author img:hover {
    filter: contrast(2);

}

section.author div.author-image::after {
    content: "";
    width: 100%;
    height: 100%;
    background-color: rgba(63, 81, 181, 0.8);
}
*/

/*
@media only screen and (max-width: 1170px) {
    body {
        background-color: #00061d;
        background-image: url("../img/logo-top.png");
        background-repeat: no-repeat;
        background-position: center;
        color: #f8f8f8;
        margin: auto;
        width: 100%;
        height: 100vh;
    }
    
section {
        display: none;
    }
}
*/