* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: #00061d;
    color: #f8f8f8;
    margin: auto;
}

.row {
    max-width: 1230px;
    margin: auto;
}

button, a.btn {
    position: relative;
    top: 20px;
    display: block;
    width: 270px;
    height: 60px;
    background-image: linear-gradient(90deg, #f44336, #e91e63);
    margin: 30px 0;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    color: #f8f8f8;
    border-radius: 2px;
    text-align: center;
    line-height: 60px;
}

a, a:hover, a:visited, a:active {
    color: #f8f8f8;
}

.menu a, .menu button {
    padding: 0;
}

/*   Header + Menu Section Style - Start   */
section.header {
    background-color: #000;
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    margin: auto;
    height: 100vh;
    width: 100%;
}

header {
    width: 100%;
    height: 100vh;
    overflow: hidden
}

header nav.main-menu {
    margin-top: 60px;
}

header nav.main-menu ul {
    margin: 0;
    float: left;
}

header nav.main-menu ul li {
    display: inline-block;
    list-style: none;
    text-transform: uppercase;
    outline: none;
    text-align: center;
    position: relative;
    top: 0;
    padding: 0 20px;
}

header nav.main-menu ul li a {
    text-decoration: none;
    border-bottom: 1px solid transparent;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 300;
    color: rgba(248, 248, 248, 0.63);
    font-size: 11pt;
    transition: all 0.5s linear;
}

header nav.main-menu ul:not(.logo) li:hover a {
    color: #f8f8f8;
    border-bottom: 1px solid #f8f8f8;
    margin:0;
    padding: 0;
    text-shadow: 0px 0px 4px #f8f8f8;
}

header nav.main-menu ul.logo {
    width: 15%;
    line-height: 60px;
}

header nav.main-menu ul.logo li {
    text-align: left;
    margin: 5px 0;

}

header nav.main-menu ul.main-nav {
    text-align: center;
    width: 65%;
}

header nav.main-menu ul.main-nav li a {
    display: block;
    line-height: 70px;
}

header nav.main-menu ul.contact-nav {
    text-align: right;
    width: 20%;
    margin-right: 0;
    padding-right: 0;
}


header nav.main-menu ul.contact-nav li a {
    display: block;
    line-height: 70px;
}

header div.caption {
    width: 50%;
    text-align: center;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

header div.caption h1 {
    font-family: 'Playfair Display', san-serif;
    font-size: 32pt;
    color: #f8f8f8;
    font-weight: 700;
    font-style: italic;
}

header div.caption p {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 16pt;
    color: rgba(248, 248, 248, 0.25);
    padding: 0;
    margin: 0;
}

header div.header-icon {

    position: absolute;
    bottom: 10px;
    left:0;
    right:0;
    text-align: center;
}

header div.header-icon a {
    display: inline-block;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 11pt;
    color: #f8f8f8;
}

header div.header-icon a#music {
    float: right;
}


#scroll {
    padding-top: 60px;
}
#scroll span {
    position: absolute;
    top: 10px;
    left: 48%;
    width: 1px;
    height: 40px;
    background-color: rgba(248, 248, 248, 0.25);
    box-sizing: border-box;
}
#scroll span::before {
    position: absolute;
    top: 2px;
    left: 48%;
    content: " ";
    width: 1px;
    height: 10px;
    margin-left: -1px;
    background-color: #f8f8f8;
    -webkit-animation: scroll 2s infinite;
    animation: scroll 2s infinite;
    box-sizing: border-box;
    transition: all 2s linear;
}
@-webkit-keyframes scroll {
    0% {
        -webkit-transform: translate(0, 0);
        opacity: 1;
    }
    50% {
        opacity: 1;
    }
    70% {
        -webkit-transform: translate(0, 30px);
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
}
@keyframes scroll {
    0% {
        transform: translate(0, 0);
        opacity: 1;
    }
    50% {
        opacity: 1;
    }
    70% {
        transform: translate(0, 30px);
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
}


/*   Header + Menu Section Style - End   */

section.author {
    margin: 110px 0 22px 0;
    overflow: hidden;
}

section.author div.author-image {
    display: inline-block;
    width: 400px;
    height: auto;
    font-size: 0;
    margin: 0;
    padding: 0;
    float: left;
    margin-right: 15px;
}

section.author div.author-image:nth-child(3) {
    margin-right: 0;
}




section.support {
    margin: 110px 0 22px 0;
    overflow: hidden;
}

section.support div.support-animation {
    position: relative;
    display: inline-block;
    width: 285px;
    height: 370px;
    margin-top: 30px;
    margin-right: 30px;
    padding: 40px 30px;
    float: left;
    background: #1c265c;
    color: #f8f8f8;
    border-radius: 2px;
    border: none;
}

section.support div.support-animation:nth-child(5) {
    margin-right: 0;

}

section.support div.support-header h2 {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 28pt;
    color: #f8f8f8;
    padding: 0;
    margin: 0;
}

section.support div.support-header h3 {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 11pt;
    color: rgba(248, 248, 248, 0.67);
    padding: 0;
    margin: 0;
    text-transform: uppercase;
}

section.support div.support-animation h2 {
    font-family: 'Playfair Display', san-serif;
    font-size: 32pt;
    color: #f8f8f8;
    font-weight: 700;
    font-style: italic;
    margin: 0;
}

section.support div.support-animation h3 {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 11pt;
    color: rgba(248, 248, 248, 0.67);
    padding: 0;
    margin: 0;
    margin-top: 50px;
    text-transform: uppercase;
}

section.support div.support-animation div.support-more {
    position: absolute;
    bottom: 5px;
    left: 0;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 11pt;
    color: rgba(248, 248, 248, 0.67);
    text-transform: uppercase;
    width: 100%;
    padding: 10px 20px;
}

section.support div.support-animation div.support-more a {
    color: rgba(248, 248, 248, 0.67);
}

section.support div.support-animation div.support-more span {
    padding-right: 20px;
}


section.support div.support-animation div.support-more img.arrow {
    margin: 8px 0;
    vertical-align: middle;
    -webkit-animation: arrow 2s infinite;
    animation: arrow 2s infinite;
    box-sizing: border-box;
    transition: all 2s linear;
}

@-webkit-keyframes arrow {
    0% {
        -webkit-transform: translateX(0);
        opacity: 1;
    }
    50% {
        opacity: 1;
    }
    80% {
        -webkit-transform: translateX(20px);
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
@keyframes arrow {
    0% {
        transform: translateX(0);
        opacity: 1;
    }
    80% {
        transform: translateX(20px);
        opacity: 1;
    }
    81%, 100% {
        opacity: 0;
    }
}


div.icon {
    width: 100px;
    height: 100px;
    left: 0;
    right: 0;
    top: 0;
    margin: 0 auto;
}

#platform {
    position: relative;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background-image: linear-gradient(135deg, #2196f3, #3f51b5);
    transition: all 1s linear;
    transform-origin: center;
    box-shadow: 0px 0px 100px 0px rgba(63, 81, 181, 0.2);
}

#platform::after {
    content: "";
    position: absolute;
    top: 30px;
    right: -20px;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-image: linear-gradient(135deg, #2196f3, #3f51b5);
    box-shadow: 0px 0px 10px 2px rgba(52, 74, 162, 0.8);
    transition: all 2s linear, box-shadow 0s linear;
}

#platform::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background-image: linear-gradient(135deg, #248cef, #344aa2);
    filter: blur(40px);
}

#platform:hover {
    transform: translateX(-10px);
    box-shadow: 0px 0px 100px 0px rgba(63, 81, 181, 0.2);
}

#platform:hover::after {
    transform: rotate(-50deg);
    background-image: linear-gradient(135deg, #e42774, #bd354b);
    box-shadow: 0px 0px 20px 0px rgba(189, 53, 75, 0.8);
    transform-origin: -45px;
    transition: transform 1s linear;
}


section.footer {
    width: 100%;
    height: 30px;
    margin: 110px 0 20px;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 11pt;
    color: rgba(248, 248, 248, 0.67);
}

section.footer div.footer-wrapper:first-child {
    margin-right: 30px;
}

section.footer div.footer-wrapper > i {
    margin: 0 2px;
    background: -webkit-linear-gradient(90deg, #f44336, #e91e63);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: pulse 1s linear infinite;
}


@keyframes pulse {
    0% {
        -webkit-transform: scale(1.1);
        -moz-transform: scale(1.1);
        -o-transform: scale(1.1);
        -ms-transform: scale(1.1);
        transform: scale(1.1);
    }
    50% {
        -webkit-transform: scale(0.8);
        -moz-transform: scale(0.8);
        -o-transform: scale(0.8);
        -ms-transform: scale(0.8);
        transform: scale(0.8);
    }
    100% {
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -o-transform: scale(1);
        -ms-transform: scale(1);
        transform: scale(1);
    }

}



/*
section.author img:hover {
    filter: contrast(2);

}

section.author div.author-image::after {
    content: "";
    width: 100%;
    height: 100%;
    background-color: rgba(63, 81, 181, 0.8);
}
*/

/*
@media only screen and (max-width: 1170px) {
    body {
        background-color: #00061d;
        background-image: url("../img/logo-top.png");
        background-repeat: no-repeat;
        background-position: center;
        color: #f8f8f8;
        margin: auto;
        width: 100%;
        height: 100vh;
    }
    
section {
        display: none;
    }
}
*/
