* {
    box-sizing: border-box;
}

body {
    background-color: #F4F7F8;
    font-family: 'Kavivanar', cursive;
}

span {
    display: inline-block;
    width: 25px;
    height: 25px;
    line-height: 25px;
    margin: 10px;
    background-color: #1ABC9C;
    border-radius: 50%;
    text-align: center;
}

input {
    display: block;
    background-color: #E8EEE7;
    border: 2px #E8EEE7 solid;
    outline: none;
    width: 150px;
    height: 35px;
    font-family: 'Kavivanar', cursive;
    padding: 5px;
    text-align: center;
    font-weight: 700;
}

.wieksza {
    border: 2px #1ABC9C solid;
}

button {
    background-color: #1ABC9C;
    padding: 5px;
    margin: 10px 0;
    outline: none;
    border: 2px #1ABC9C solid;
    width: 150px;
    height: 35px;
    cursor: pointer;
    position: relative;
    transition: all 0.2s linear;
    font-family: 'Kavivanar', cursive;
    font-weight: 700;
}

button::before {
    content: "";
    position: absolute;
    top: 1px;
    left: 1px;
    background-color: #16A085;
    outline: none;
    border: 2px #16A085 solid;
    width: 150px;
    height: 35px;
    cursor: pointer;
    box-sizing: border-box;
    z-index: -1;
    transition: all 0.2s linear;
}

button:hover {
    transform: translate(3px, 3px);
    transition: all 0.2s linear;
}

button:hover::before {
    transform: translate(-3px, -3px);
    transition: all 0.2s linear;
}