* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

body {
  color: #ffffff;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  background-image: url(../img/bg.jpg); }

h1 {
  text-shadow: -0.7px -0.7px;
  text-align: center;
  margin: 20px 0;
  font-family: Roboto;
  font-size: 50px;
  font-weight: 300;
  font-stretch: condensed;
  line-height: 0.8;
  letter-spacing: -1.3px;
  color: #ffffff; }

h3 {
  text-align: center;
  font-family: Roboto;
  font-size: 15px;
  font-weight: 300;
  font-stretch: condensed;
  color: #ffffff; }

.login-form {
  padding: 30px; }

.logo-top-wrapper {
  float: right; }

.logo-top {
  padding: 20px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 5px;
  max-width: 100px; }

.login-form-content {
  background-color: #13bdd2;
  width: 100%;
  height: 500px;
  border-radius: 5px;
  padding: 28px; }

.login-form-circle {
  width: 94px;
  height: 94px;
  border-radius: 50%;
  background-color: #ffffff;
  text-align: center;
  margin-top: 50px; }

.login-form-input {
  width: 100%;
  height: 35px;
  outline: none;
  border: none;
  padding: 5px;
  border-radius: 2px;
  margin: 5px 0; }

.form-nav-item a {
  opacity: 0.8;
  text-shadow: 0.6px 0.8px 0 rgba(15, 15, 15, 0.83);
  text-decoration: none;
  font-family: Roboto;
  font-size: 11px;
  font-weight: bold;
  font-stretch: condensed;
  letter-spacing: 0.3px;
  text-align: left;
  color: rgba(255, 255, 255, 0.8);
  text-transform: uppercase;
  margin: 5px 0;
  color: #ffffff; }

#result {
  font-family: Roboto;
  font-size: 15px;
  font-weight: 300;
  font-stretch: condensed;
  color: #ffffff;
  text-align: center;
  margin-top: 5px;
  font-weight: 700;
  display: inline-block; }

#close {
  display: none;
  width: 20px;
  height: 20px;
  background-color: #5be0f0;
  border-radius: 50%;
  opacity: 0.8;
  color: #ffffff;
  font-family: Roboto;
  font-size: 11px;
  font-weight: bold;
  font-stretch: condensed;
  letter-spacing: 0.3px;
  text-align: left;
  color: rgba(255, 255, 255, 0.8);
  line-height: 20px;
  text-align: center;
  text-decoration: none; }

#go {
  padding: 10px 50px;
  font-family: Roboto;
  font-size: 15.5px;
  font-weight: 300;
  font-style: normal;
  font-stretch: condensed;
  letter-spacing: normal;
  text-transform: uppercase;
  background-color: #ffffff;
  color: #000000;
  border: none;
  border-radius: 5px;
  outline: none;
  margin: 20px;
  cursor: pointer; }

#other {
  visibility: hidden;
  font-family: Roboto;
  font-size: 15.5px;
  font-weight: 300;
  font-style: normal;
  font-stretch: condensed;
  letter-spacing: normal;
  text-transform: uppercase;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  outline: none;
  margin: 20px;
  background-color: transparent;
  cursor: pointer; }

.quit {
  position: relative;
  display: block;
  width: 20px;
  height: 20px;
  border: 3px solid #e21a61;
  border-radius: 50%;
  background-color: transparent;
  -webkit-transition: 0.5s linear all;
  transition: 0.5s linear all; }

.quit::before {
  position: absolute;
  top: -10px;
  left: -40px;
  right: 0;
  margin: 0 auto;
  content: "";
  height: 40px;
  width: 0.5px;
  background-color: #dbdede; }

.quit::after {
  position: absolute;
  top: -8px;
  left: 0;
  right: 0;
  margin: 0 auto;
  content: "";
  height: 15px;
  width: 8px;
  border-radius: 4px 4px 0 0;
  border: 2px solid #13bdd2;
  background-color: #e21a61;
  -webkit-transition: 0.5s linear all;
  transition: 0.5s linear all; }

.quit:hover {
  border: 3px solid #ffffff;
  -webkit-transition: 0.5s linear all;
  transition: 0.5s linear all; }

.quit:hover::after {
  border: 2px solid #13bdd2;
  background-color: #ffffff;
  -webkit-transition: 0.5s linear all;
  transition: 0.5s linear all; }

.scherch {
  position: relative;
  display: block;
  width: 20px;
  height: 20px;
  border: 3px solid #e21a61;
  border-radius: 50%;
  background-color: #13bdd2;
  -webkit-transition: 0.5s linear all;
  transition: 0.5s linear all;
  z-index: 8; }

.scherch::after {
  position: absolute;
  bottom: -8px;
  right: -4px;
  content: "";
  height: 10px;
  width: 4px;
  border-radius: 0 0 4px 4px;
  background-color: #e21a61;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  -webkit-transition: 0.5s linear all;
  transition: 0.5s linear all;
  z-index: 7; }

.scherch:hover {
  border: 3px solid #ffffff;
  -webkit-transition: 0.5s linear all;
  transition: 0.5s linear all; }

.scherch:hover::after {
  background-color: #ffffff;
  -webkit-transition: 0.5s linear all;
  transition: 0.5s linear all; }

.dashboard {
  background-color: #dbdede; }

.nav-denim {
  background-color: #13bdd2;
  color: #ffffff; }

.nav-link {
  height: 100px;
  width: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.nav-top-menu {
  background-color: transparent;
  position: relative; }

.nav-top-menu:hover {
  background-color: #000000; }

.nav-top-menu::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: -6px;
  margin: 0 auto;
  width: 14px;
  height: 14px;
  background-color: #000000;
  border-radius: 50%;
  display: none;
  -webkit-transition: 0.5s linear all;
  transition: 0.5s linear all; }

.nav-top-menu:hover::after {
  display: block;
  -webkit-transition: 0.5s linear all;
  transition: 0.5s linear all; }

.icon-top {
  max-height: 25px;
  width: auto;
  display: block; }
