@import "zmienne";
@import "mixin";

body {
    background-color: $background-body;
}

p {
    color: $font-color;
}

nav {
    @include menu-nawigacyjne;
}

.circle {
    width: 100px;
    height: 100px;
    background-color: yellow;
    @include custom-border-radius(50%);
}