* {
    margin: 0;
    padding: 0;
}

body {
    position: relative;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

.background-img {
    background-image: url('../img/bg.jpg');
    width: 100%;
    height: 100vh;
    position: fixed;
    z-index: -1;
}


/*Navigacja dla Nieruchomości - START*/
.nav {
    width: 100%;
    height: 70px;
    line-height: 70px;
    float: left;
    font-weight: 600;
    overflow: hidden;
    background: #ed1b34;
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 1000;
    color: #FFF;
}

.navbar-bonus {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
}

.nav-box {
    line-height: 70px;
    font-weight: 600;
    overflow: hidden;
    top: 0px;
    right: 0px;
    z-index: 5000;
    color: #FFF;
    list-style: none;
    text-align: right;
}

.nav-item {
    width: 200px;
    display: inline-block;
}

.nav-logo {
    max-height: 50px;
    width: auto;
    float: left;
    text-align: right;
}

.nav .nav-link {
    color: #FFF;
    margin: 0;
    padding: 0;
}

/*Navigacja dla Nieruchomości - START*/


/*Formularz dla Nieruchomości - START*/
.form-section {
    padding: 120px 0 80px 0;
}

.form-bonus {
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.8);
    border: #ED1B34 2px solid;
    overflow: hidden;
}

.form-title {
    background-color: #ED1B34;
    height: 80px;
    width: 100%;
    position: relative;
}

.form-title h2 {
    color: #FFF;
    text-transform: uppercase;
    text-align: center;
    font-weight: 700;
    font-size: 1.8rem;
    text-shadow: -14px 14px 18px #000000;
    line-height: 80px;
}

.form-subtitle-left {
    background-color: #2D395A;
    color: #FFF;
    height: 60px;
    width: 100%;
    text-transform: uppercase;
    text-align: center;
    font-weight: 700;
    font-size: 1.3rem;
    text-shadow: -14px 14px 18px #000000;
    line-height: 60px;
    position: relative;
    margin-bottom: 20px;
    z-index: 100;
}

.form-subtitle-left:after {
    background-color: #2D395A;
    height: 60px;
    width: 100%;
    content: "";
    position: absolute;
    top: 0;
    left: -35px;
    margin-bottom: 20px;
    z-index: -1;
}

.form-subtitle-right {
    background-color: #2D395A;
    color: #FFF;
    height: 60px;
    width: 100%;
    text-transform: uppercase;
    text-align: center;
    font-weight: 700;
    font-size: 1.3rem;
    text-shadow: -14px 14px 18px #000000;
    line-height: 60px;
    position: relative;
    margin-bottom: 20px;
    z-index: 100;
}

.form-subtitle-right:after {
    background-color: #2D395A;
    height: 60px;
    width: 100%;
    content: "";
    position: absolute;
    right: -35px;
    top: 0;
    margin-bottom: 20px;
    z-index: -1;
}

.form-col {
    display: inline-block;
    vertical-align: top;
}

.form-control {
    position: relative;
    z-index: 2;
}

.btn-form-wrapper {
    margin-top: 20px;
    position: relative;
}

/*Formularz dla Nieruchomości - END*/


/*Modal dla Nieruchomości - START*/
.modal-content-custom {
    border-radius: 0px;
    border: #2D395A 2px solid;
}

.modal-header .close {
    padding: 0;
    margin: 0;
    position: absolute;
    top: 5px;
    right: 10px;
    outline: none;
}

.modal-header-custom {
    background-color: #2D395A;
    height: 80px;
    width: 100%;
    display: block;
    position: relative;
    border-radius: 0px;
    padding: 0;
}

.modal-header-custom h2 {
    color: #FFF;
    text-transform: uppercase;
    text-align: center;
    font-weight: 700;
    font-size: 1.8rem;
    text-shadow: -14px 14px 18px #000000;
    line-height: 80px;
}

.modal-body-custom {
    border-top: 1px solid #e9ecef;
    vertical-align: middle;
    color: #2D395A;
    padding: 20px;
    font-size: 1.4rem;
    text-align: center;
    margin: 0;
}

.modal-body-custom p {
    font-size: 1rem;
    text-align: left;
}

.modal-body-custom p .fas {
    vertical-align: top;
}

.tooltip-inner {
    max-width: 350px;
    /* If max-width does not work, try using width instead */
    width: 350px;
}

.tooltip {
    margin: 10px;
}

.pobierz-poradnik-title {
    font-size: 1.2rem;
    color: #ED1B34;
    text-transform: uppercase;
    font-weight: 700;
}

.star {
    color: #ED1B34;
    font-weight: 700;
}

/*Modal dla Nieruchomości - END*/

.section-wycena {
    width: 100%;
    height: 100%;
    color: #FFFFFF;
    z-index: 99;
    width: 100%;
    font-size: 20px;
    font-weight: 500;
    text-align: center;
    letter-spacing: 0.3em;
    text-shadow: -11px 11px 15px rgba(25, 25, 25, 0.6);
    background-color: rgba(45, 57, 90, 0.9);
    position: relative;
    overflow: hidden
}

.section-wycena .text-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: inline-block;
    vertical-align: middle;
    line-height: 80px;
    margin: 0 40px;
    text-align: center;
    min-height: 80px;
}

.section-wycena .text-container h3 {
    text-align: center;
    line-height: 80px;
}

.section-wycena .btn-container {
    display: inline-block;
    position: relative;
    vertical-align: middle;
    background-color: rgba(45, 57, 90, 0.9);
}

.btn-wycena,
.btn-wycena:focus {
    border: solid 2px transparent;
    color: #FFFFFF;
    background-color: #ED1B34;
    text-transform: uppercase;
    width: 300px;
    height: 55px;
    border-radius: 5px;
    font-size: 15px;
    font-weight: 700;
    -webkit-box-shadow: 1px 2px 4px rgba(66, 1, 1, 0.5);
    box-shadow: 1px 2px 4px rgba(66, 1, 1, 0.5);
    z-index: 99;
    text-align: center;
    outline: none;
}

.btn-wycena:hover {
    font-weight: 700;
    cursor: pointer;
    background-color: #2D395A;
    color: #FFFFFF;
    border: solid 2px transparent;
    -webkit-transition-duration: 1s;
    transition-duration: 1s;
}

.section-wycena .btn-container .a-wycena {
    text-decoration: none;
    color: #FFFFFF;
    font-weight: 600;
}

.btn-custom {
    display: block;
    text-decoration: none;
    color: #FFF;
}

.form-group {
    z-index: 2;
}

.poradnik {
    position: absolute;
    top: -180px;
    max-width: 180px;
    -webkit-box-shadow: 20px 20px 20px rgba(0, 0, 0, 0.6);
    box-shadow: 20px 20px 20px rgba(0, 0, 0, 0.6);
    -webkit-transform: rotate(30deg);
    transform: rotate(30deg);
    margin: 20px 80px;
    z-index: 1;
}


/*Trzy kroki - START*/
.section-content {
    counter-reset: section;
}

.content-box {
    margin-bottom: 40px;
}

.content-column {
    background-color: rgba(255, 255, 255, 0.8);
    overflow: hidden;
    min-height: 300px;
}

.content-column:first-of-type::after {
    content: '1';
    position: absolute;
    top: 0;
    right: 0;
    font-size: 10rem;
    font-weight: 700;
    color: rgba(0, 0, 0, 0.2);
}

.content-column:nth-of-type(n+1)::after {
    counter-increment: section;
    content: counter(section);
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 10rem;
    font-weight: 700;
    color: rgba(45, 57, 90, 0.2);
}

.content-title {
    background-color: #2D395A;
    color: #FFF;
    height: 60px;
    width: 100%;
    text-transform: uppercase;
    text-align: center;
    font-weight: 700;
    font-size: 1.3em;
    text-shadow: -14px 14px 18px #000000;
    line-height: 60px;
    position: relative;
    z-index: 100;
}

.content-paragraph {
    padding: 20px;
    font-size: 0.8rem;
    line-height: 1.6rem;
    margin-bottom: 0;
}

/*Trzy kroki - END*/


/*Landing Page + Widok 3D - START*/
.section-vod {
    counter-reset: section;
}

.vod-box {
    margin-bottom: 40px;
}

.vod-column {
    background-color: rgba(255, 255, 255, 0.8);
    overflow: hidden;
}

.vod-title {
    background-color: #2D395A;
    height: 60px;
    width: 100%;
    position: relative;
    z-index: 100;
}

.vod-title h3 {
    color: #FFF;
    text-transform: uppercase;
    text-align: center;
    font-weight: 700;
    font-size: 1.4rem;
    text-shadow: -14px 14px 18px #000000;
    line-height: 60px;
}

.vod-paragraph {
    padding: 20px;
    font-size: 0.8rem;
    line-height: 1.6rem;
    margin-bottom: 0;
}


/*Landing Page + Widok 3D - END*/

/*Footer - START*/
.footer {
    width: 100%;
    height: auto;
    float: left;
    font-weight: 600;
    overflow: hidden;
    background: #ed1b34;
    top: 0px;
    left: 0px;
    z-index: 1000;
    color: #FFF;
    font-family: "Roboto", sans-serif;
}

.footer-menu-top {
    text-align: center;
    padding-top: 25px;
    padding-left: 1px;
    padding-right: 1px;
    font-size: 18px;
    color: #FFF;
    text-transform: uppercase;
    font-weight: 400;
    line-height: normal;
}

.footer-menu-bottom {
    text-align: center;
    padding-top: 15px;
    padding-left: 1px;
    padding-right: 1px;
    font-size: 14px;
    color: #FFFFFF;
    font-weight: 400;
    line-height: normal;
}

.footer-menu-top a, .footer-menu-bottom a {
    text-decoration: none;
    color: #FFF;
    cursor: pointer;
    text-align: center;
}

.footer-menu-top a:hover, .footer-menu-bottom a:hover {
    color: inherit;
    font-weight: 600;
    text-decoration: none;
    outline: none;
}

.footer-author {
    line-height: 70px;
    font-size: 13px;
    font-weight: 300;
    color: #FFF;
}

.footer-author strong {
    font-weight: 700;
}

.footer-author a, .footer-author a:hover {
    text-decoration: none;
    color: #FFF;
    outline: none;
}

.footer-left {
    text-align: left;
}

.footer-right {
    text-align: right;
}


/*Footer - END*/

@media (max-width: 1196px) {
    .section-wycena {
        height: 160px;
    }

    .section-wycena .btn-container {
        display: inline-block;
        position: relative;
        top: 0;
        -webkit-transform: none;
        transform: none;
    }

    .section-wycena .text-container {
        display: inline;
        width: 100%;
        margin: 0;
        line-height: 80px;
    }

    .form-title h2 {
        font-size: 1.2rem;
        line-height: 40px;
        margin: 0;
    }

}

@media (max-width: 992px) {
    .section-wycena .text-container {
        display: inline;
        width: 100%;
        margin: 0;
        line-height: 40px;
    }

    .poradnik {
        display: none;
    }

    .vod-title h3 {
        font-size: 1rem;
    }

    .content-column {
        min-height: 225px;
    }

}

@media (max-width: 576px) {
    .nav-logo {
        max-height: 40px;
    }

    .nav-link {
        display: none;
    }

    .navbar-bonus {
        position: relative;
        top: 50%;
        -webkit-transform: translateY(-50%);
        transform: translateY(-50%);
    }

    .content-title {
        font-size: 1.1rem;
    }

    .vod-title h3 {
        font-size: 0.6rem;
    }

    .btn-wycena, .btn-wycena:focus {
        width: 100%;
        font-size: 0.8rem;
        display: block;
        text-decoration: none;
    }

    .modal-header-custom h2 {
        font-size: 1rem;
    }

    .modal-header-custom h2 span {
        display: none;
    }

    .modal-body-custom span {
        display: block;
    }

    .pobierz-poradnik-title {
        font-size: 0.8rem;
    }
    
    .footer-menu-top, .footer-menu-bottom {
        display: none;
    }
    
    .footer-left, .footer-right  {
        line-height: 35px;
        text-align: center;
    }
    
    .form-subtitle-left, .form-subtitle-right {
       font-size: 1rem; 
    }
}
