* {
    padding: 0;
    margin: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    font-family: "Roboto", sans-serif;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.formularz {
    background-image: url('https://www.bonusnieruchomosci.pl/tekstyzdjecia/400/oryg_1529357631_0.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100vh;
    position: fixed;
    z-index: -1;
    overflow-y: scroll;
    overflow-x: hidden;
}

.formularz-wrapper {
    background-color: rgba(255, 255, 255, 0.7);
    border: none;
    overflow: hidden;
    margin: 50px 0;
}

.stepwizard-step p {
    margin-top: 10px;
    color: rgba(0, 0, 0, 0.5);
    font-size: 1rem;
}

.stepwizard-row {
    position: relative;
}

.stepwizard-step {
    display: inline-block;
    text-align: center;
    position: relative;
}

.stepwizard-step .btn-circle {
    width: 50px;
    height: 50px;
    text-align: center;
    font-size: 24px;
    line-height: 50px;
    padding: 0;
    background-color: transparent;
    color: #FFFFFF;
    border: 1px solid transparent;
    border-radius: 50%;
    font-weight: 700;
    position: relative;
}

.stepwizard-step .btn-default {
    background-color: #ccc;
    width: 50px;
    height: 50px;
    border: 1px solid transparent;
    border-radius: 50%;
}

.stepwizard-step .btn-primary {
    background-color: #ED1B34;
}

.btn-primary.focus,
.btn-primary:focus {
    -webkit-box-shadow: 0 0 0 0.2rem rgba(237, 27, 52, .5);
    box-shadow: 0 0 0 0.2rem rgba(237, 27, 52, .5);
}

.btn-primary:not(:disabled):not(.disabled).active,
.btn-primary:not(:disabled):not(.disabled):active,
.show > .btn-primary.dropdown-toggle {
    color: #fff;
    background-color: #ED1B34;
    border-color: #ED1B34;
}

.btn-primary:not(:disabled):not(.disabled).active:focus,
.btn-primary:not(:disabled):not(.disabled):active:focus,
.show > .btn-primary.dropdown-toggle:focus {
    -webkit-box-shadow: 0 0 0 0.2rem rgba(237, 27, 52, .5);
    box-shadow: 0 0 0 0.2rem rgba(237, 27, 52, .5);
}


.stepwizard-step.btn-check .btn-circle {
    color: #FFF;
    background-color: #2D395A;
    border: 1px solid #2D395A;
    border-radius: 50%;
    position: relative;
    display: inline-block;
    outline: none;
}

.stepwizard-step.btn-check .btn-primary:focus,
.stepwizard-step.btn-check .btn-deafult:focus,
.stepwizard-step.btn-check .btn-primary:active,
.stepwizard-step.btn-check .btn-deafult:active,
    {
    -webkit-box-shadow: 0 0 0 0.2rem rgba(237, 27, 52, .5);
    box-shadow: 0 0 0 0.2rem rgba(237, 27, 52, .5);
    background-color: #2D395A;
    border: 1px solid #2D395A;

}

.stepwizard-step.btn-check .btn-circle:focus,
.stepwizard-step.btn-check .btn-circle:active,
.stepwizard-step.btn-check .btn-circle:focus:active,
.stepwizard-step.btn-check .btn-circle:active:focus,
    {
    -webkit-box-shadow: 0 0 0 0.2rem rgba(45, 57, 90, .5);
    box-shadow: 0 0 0 0.2rem rgba(45, 57, 90, .5);
    background-color: #2D395A;
    border: 1px solid #2D395A;
}

.stepwizard-step .btn-circle:disabled {
    cursor: not-allowed;
}

.stepwizard-step .btn-circle.disabled,
.btn:disabled {
    pointer-events: none;
    opacity: 0.6;
}

.control-checkbox {
    margin-left: 10px;
}


.stepwizard-step .stepwizard-active {
    font-weight: 700;
    color: #2D395A;
}

.checkbox,
input[type=checkbox] {
    display: inline-block;
    vertical-align: middle;
    margin: 0;
}

.checkbox-sup {
    color: #dc3545;
    padding-left: 5px;
}

.form-control, .form-control:focus {
    color: #2D395A;
    border: none;
    border-radius: 7px;
    outline: none;
}

.control-label {
    font-weight: 500;
}

.form-required {
    color: #dc3545;
    font-size: 0.6rem;
}

.has-error input,
.has-error select {
    color: #dc3545;
    border-color: #dc3545;
}

.has-error .checkbox {
    background-color: #dc3545;
}


.has-error .invalid-feedback {
    display: block;
}

.has-error .invalid-feedback {
    display: block;
}

.has-error input:not([type=radio]):focus,
.has-error select:focus {
    color: #495057;
    background-color: #fff;
    border-color: #dc3545;
    outline: 0;
    -webkit-box-shadow: 0 0 0 0.2rem rgba(220, 53, 69, .25);
    box-shadow: 0 0 0 0.2rem rgba(220, 53, 69, .25);
}

.has-error input([type=radio]):focus {
    color: #495057;
    background-color: #fff;
    border-color: #dc3545;
    border-radius: 50%;
    outline: 0;
    -webkit-box-shadow: 0 0 0 0.2rem rgba(220, 53, 69, .25);
    box-shadow: 0 0 0 0.2rem rgba(220, 53, 69, .25);
}


.stepwizard-title {
    padding: 20px 0;
    background-color: #2D395A;
    margin-bottom: 40px;
    text-align: center;

}

.stepwizard-title h1 {
    text-align: center;
    font-weight: 600;
    text-transform: uppercase;
    color: #FFF;
    font-size: 1.5rem;
    text-shadow: none;
}

.stepwizard-subtitle {
    margin: 20px 0;
    background-color: #2D395A;
    min-height: 60px;
    position: relative;
    z-index: 2;
}

.stepwizard-subtitle::after {
    position: absolute;
    top: 0;
    left: -100%;
    content: '';
    width: 100%;
    background-color: #2D395A;
    min-height: 100%;
    z-index: -1;
}

.stepwizard-subtitle::before {
    position: absolute;
    top: 0;
    right: -100%;
    content: '';
    width: 100%;
    background-color: #2D395A;
    min-height: 100%;
    z-index: -1;
}

.stepwizard-subtitle h3 {
    text-align: center;
    font-weight: 500;
    text-transform: uppercase;
    color: #FFF;
    text-shadow: none;
    font-size: 1.5rem;
    line-height: 60px;
}

.stepwizard-content {
    display: block;
    color: #2D395A;
    font-weight: 400;
    font-size: 1.5rem;
    text-align: center;
    position: relative;
    margin: 60px 0;
    z-index: 20;
}

.stepwizard-content .fa { 
    position: relative;
    top: 15px;
    margin-right: 5px;
}


.stepwizard-form {
    padding: 20px 40px 40px;
}

.btn-next {
    background-color: #ED1B34;
    color: #FFF;
    font-weight: 400;
    text-transform: uppercase;
    text-shadow: none;
    border-color: #ED1B34;
    margin-top: 30px;
    padding: 10px 20px;
    outline: none;
}

.btn-next:focus {
    -webkit-box-shadow: 0 0 0 0.2rem rgba(237, 27, 52, 0.5);
    box-shadow: 0 0 0 0.2rem rgba(237, 27, 52, 0.5);
}

.checkbox-hidden {
    display: none;
    font-size: 0.8rem;
}

.checkbox-active {
    display: inline-block;
}

.read-more,
.read-less {
    font-weight: 300;
    font-size: 0.7rem;
    cursor: pointer;
}

.read-less {
    display: none;
}

.btn-wrapper {
    text-align: right;
    z-index: 20;
}


.poradnik-content {
    color: #ED1B34;
    font-size: 1.1rem;
    text-align: center;
    font-weight: 700;
    vertical-align: middle;
    margin: 0;
    line-height: 28px;
    display: inline-block;
}

.btn-wrapper .btn-custom {
    vertical-align: middle;
    background-color: #ED1B34;
    border-color: #ED1B34;
    padding: 10px 20px;
    color: #fff;
    text-transform: uppercase;
    outline: none;
}

.btn-wrapper .btn-custom:focus {
    -webkit-box-shadow: 0 0 0 0.2rem rgba(237, 27, 52, 0.5);
    box-shadow: 0 0 0 0.2rem rgba(237, 27, 52, 0.5);
}

.poradnik {
    position: absolute;
    background-image: url('../img/poradnik.png');
    bottom: -130px;
    right: -60px;
    max-width: 180px;
    -webkit-box-shadow: 20px 20px 20px rgba(0, 0, 0, 0.6);
    box-shadow: 20px 20px 20px rgba(0, 0, 0, 0.6);
    -webkit-transform: rotate(30deg);
    transform: rotate(30deg);
    margin: 20px 80px;
    z-index: 0;
    opacity: 0.5;
}


/* Scrolbar Style - START */

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 4px rgba(0, 0, 0, 0.4);
    border-radius: 8px;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.4);
}

/* Scrolbar Style - START */
