/*Time for Wax Style - Start*/
/*Reset Style - Start*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul, li {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after {
  content: '';
  content: none; }

button {
  background-color: transparent;
  outline: none;
  border: 0;
  cursor: pointer; }

q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/*Reset Style - End*/
* {
  padding: 0;
  margin: 0; }

body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Lato', sans-serif;
  line-height: 2em;
  color: #53354A; }

.red {
  color: #ba272e; }

.tfw-nav {
  background-image: url(../img/pattern.jpg);
  background-repeat: repeat;
  height: 155px;
  width: 100vw;
  min-width: 100%; }
  .tfw-nav-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    position: relative; }
  .tfw-nav-logo {
    background-color: #FECE47;
    display: inline-block;
    height: 45px;
    margin: 1em 0;
    width: 45px; }
  .tfw-nav-menu {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 50%; }
    .tfw-nav-menu ul {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between;
      list-style: none;
      width: 100%; }
      .tfw-nav-menu ul li {
        display: inline-block; }
      .tfw-nav-menu ul a {
        color: #464855;
        text-transform: uppercase;
        text-decoration: none;
        font-weight: 700;
        font-size: 1.2em;
        display: inline-block;
        position: relative;
        -webkit-transition: all 1.5s ease;
        transition: all 1.5s ease;
        z-index: 5; }
        .tfw-nav-menu ul a::after {
          display: none;
          position: absolute;
          content: attr(data-title);
          top: 2px;
          left: 2px;
          color: #FECE47;
          font-weight: 700;
          z-index: -1;
          -webkit-transition: all 1.5s ease;
          transition: all 1.5s ease; }
        .tfw-nav-menu ul a:hover {
          -webkit-transition: all 1.5s ease;
          transition: all 1.5s ease; }
        .tfw-nav-menu ul a:hover::after {
          display: block;
          -webkit-transition: all 1.5s ease;
          transition: all 1.5s ease; }
  .tfw-nav-hamburger {
    display: none;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    cursor: pointer;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    height: 77px;
    width: 77px;
    background-color: #FECE47; }
  .tfw-nav .hamburger-icon {
    width: 26px;
    height: 3px;
    margin: 2px 0;
    border-radius: 3px;
    background-color: #FFFFFF; }
  .tfw-nav-hamburger:hover .hamburger-icon {
    background-color: #53354A; }
  .tfw-nav-hamburger:hover .hamburger-top {
    -webkit-transform: translate(-2px, 6px) rotate(45deg);
            transform: translate(-2px, 6px) rotate(45deg);
    -webkit-transition: all 1s linear;
    transition: all 1s linear; }
  .tfw-nav-hamburger .hamburger-middle {
    display: block;
    -webkit-transition-delay: 1s;
            transition-delay: 1s; }
  .tfw-nav-hamburger:hover .hamburger-middle {
    display: none;
    -webkit-transition: all 1s linear;
    transition: all 1s linear;
    -webkit-transition-delay: 1s;
            transition-delay: 1s; }
  .tfw-nav-hamburger:hover .hamburger-bottom {
    -webkit-transform: translate(-2px, -1px) rotate(-45deg);
            transform: translate(-2px, -1px) rotate(-45deg);
    -webkit-transition: all 1s linear;
    transition: all 1s linear; }
  .tfw-nav-brand {
    display: none; }

.social-icon {
  color: darkgray;
  padding: 5px;
  cursor: pointer; }
  .social-icon-wrapper {
    position: absolute;
    top: 10px;
    right: 0px; }
  .social-icon-link {
    color: darkgray;
    text-decoration: none;
    outline: none; }
    .social-icon-link:hover {
      color: #434343; }

@media screen and (max-width: 768px) {
  .navbar {
    background-color: #FFFFFF;
    position: fixed;
    min-width: 100%;
    z-index: 100; }
    .navbar-container {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between; }
    .navbar-logo {
      background-color: #FECE47;
      display: inline-block;
      height: 45px;
      margin: 1em 0;
      width: 45px;
      -webkit-box-ordinal-group: 2;
          -ms-flex-order: 1;
              order: 1; }
    .navbar-menu {
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between;
      display: block;
      position: absolute;
      top: 77px;
      left: 0;
      margin: 0;
      width: 100%;
      background-color: #FFFFFF;
      -webkit-transition: all 2s linear;
      transition: all 2s linear;
      -webkit-box-ordinal-group: 5;
          -ms-flex-order: 4;
              order: 4;
      -webkit-box-sizing: border-box;
              box-sizing: border-box;
      border: 15px #FECE47 solid;
      border-top: none; }
      .navbar-menu--toggle {
        display: none;
        position: absolute;
        top: 0;
        left: 0;
        -webkit-transition: all 2s linear;
        transition: all 2s linear; }
      .navbar-menu ul {
        background-color: #FFFFFF;
        display: block;
        height: 100%;
        position: relative;
        list-style-type: none;
        text-align: center; }
        .navbar-menu ul li {
          border-bottom: 1px solid #FECE47;
          color: #464855;
          display: block;
          text-align: center;
          font-size: 1.2em;
          padding: 1em 0; }
        .navbar-menu ul li:last-of-type {
          border-bottom: none; }
        .navbar-menu ul a {
          position: relative;
          z-index: 5; }
          .navbar-menu ul a::after {
            display: none;
            position: absolute;
            content: attr(data-title);
            top: 2px;
            left: 2px;
            color: #FECE47;
            font-weight: 700;
            z-index: -1;
            -webkit-transition: all 1.5s ease;
            transition: all 1.5s ease; }
          .navbar-menu ul a:hover {
            -webkit-transition: all 1.5s ease;
            transition: all 1.5s ease; }
          .navbar-menu ul a:hover::after {
            display: block;
            -webkit-transition: all 1.5s ease;
            transition: all 1.5s ease; }
    .navbar-hamburger {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-ordinal-group: 4;
          -ms-flex-order: 3;
              order: 3; }
    .navbar-brand {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-ordinal-group: 3;
          -ms-flex-order: 2;
              order: 2; }
      .navbar-brand .brand-description {
        color: #898EA2;
        text-align: center;
        font-size: 3vw;
        line-height: 5.5vw;
        font-weight: 700; } }
.tfw-header {
  background-image: url(../img/baner.jpg);
  background-repeat: no-repeat;
  height: 519px;
  width: 100vw;
  position: relative;
  min-width: 100%; }
  .tfw-header-container {
    position: relative;
    height: 100%; }
  .tfw-header-button {
    background-color: #ba272e;
    padding: 5px 20px;
    color: #FFF;
    font-size: 20px;
    line-height: 40px; }
    .tfw-header-button-wrapper {
      position: absolute;
      left: 160px;
      bottom: 80px; }

.tfw-search-bar {
  background-color: #ba272e;
  color: #FFF;
  height: 100px;
  width: 100vw;
  position: relative;
  min-width: 100%; }
  .tfw-search-bar-container {
    position: relative;
    height: 100%; }
  .tfw-search-bar-select {
    background-color: #FFF;
    padding: 5px 20px;
    color: #ba272e;
    font-size: 20px;
    line-height: 40px;
    outline: none;
    width: 300px; }
    .tfw-search-bar-select-wrapper {
      text-align: center;
      padding: 25px 0; }
    .tfw-search-bar-select-label {
      font-size: 32px;
      padding: 0 20px;
      text-transform: uppercase;
      font-weight: 700; }

.tfw-promo {
  background-color: #FFF;
  color: #000;
  height: 100px;
  width: 100vw;
  position: relative;
  min-width: 100%; }
  .tfw-promo-container {
    position: relative;
    height: 100%; }
  .tfw-promo-title {
    font-size: 68px;
    line-height: 108px;
    color: #ba272e;
    text-transform: uppercase;
    font-weight: 700; }
  .tfw-promo-subtitle {
    font-size: 35px;
    line-height: 45px;
    color: #ba272e;
    font-weight: 700; }
  .tfw-promo-content {
    font-size: 15px;
    line-height: 24px;
    color: #000;
    margin-top: 30px; }
  .tfw-promo-image {
    position: relative; }
  .tfw-promo-label {
    position: absolute;
    bottom: 20px;
    width: 90%;
    height: 40px;
    color: #FFF;
    background-color: #ba272e;
    text-align: center;
    font-size: 30px;
    line-height: 40px;
    font-weight: 700; }
  .tfw-promo-triagle {
    position: absolute;
    bottom: 20px;
    right: -30px;
    height: 40px;
    widows: auto; }
  .tfw-promo-button {
    background-color: #ba272e;
    padding: 5px 10px;
    color: #FFF;
    font-size: 20px;
    line-height: 40px;
    text-transform: uppercase;
    min-width: 240px; }
    .tfw-promo-button-wrapper {
      position: relative;
      margin-top: 40px;
      margin-left: 60px; }
  .tfw-promo-box {
    border: 1px solid #ededed;
    padding: 15px;
    margin-bottom: 15px;
    margin-top: 15px;
    background-color: #FFF;
    -webkit-box-shadow: 5px 5px 5px lightgrey;
            box-shadow: 5px 5px 5px lightgrey; }
  .tfw-promo-box-full {
    padding: 0px;
    margin-bottom: 15px;
    margin-top: 15px;
    background-color: #FFF;
    -webkit-box-shadow: 5px 5px 5px lightgrey;
            box-shadow: 5px 5px 5px lightgrey; }
  .tfw-promo-box-title {
    width: 100%;
    padding: 5px 0px;
    background-color: #ba272e;
    color: #FFF;
    text-align: center;
    vertical-align: middle;
    font-size: 44px;
    line-height: 44px;
    font-weight: 700;
    text-transform: uppercase; }
  .tfw-promo-box-title-small {
    padding: 10px 0px;
    font-size: 27px;
    line-height: 27px; }
  .tfw-promo-box-full-content {
    padding: 15px;
    font-size: 14px;
    line-height: 24px;
    text-align: center; }
  .tfw-promo-box-full-content-image {
    max-width: 150px;
    margin-top: 15px;
    text-align: center; }
  .tfw-promo-box-full-content-number {
    font-size: 60px;
    line-height: 100px; }

/*Time for Wax Style - End*/
