* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

body {
  font-size: 100%;
  font-family: "brandon-grotesque",sans-serif;
  font-style: normal;
  line-height: 1.2em; }

/*Navigation Style - Start*/
.menu {
  font-family: "Montserrat", sans-serif;
  font-size: 13px;
  font-weight: 700;
  font-style: normal;
  text-transform: uppercase;
  color: #ffffff;
  vertical-align: middle;
  background-color: transparent;
  width: 130px;
  float: left;
  height: 100vh;
  overflow: auto;
  z-index: 100;
  display: block;
  list-style: none; }

.menu__mobile {
  display: none; }
.menu__item {
  display: block;
  list-style: none;
  width: 100%;
  height: 85px;
  overflow: hidden; }
  .menu__item--logo {
    height: 130px;
    background-color: #ffffff; }
  .menu__item--image {
    max-width: 116px;
    height: auto;
    position: relative;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%); }
  .menu__item--link {
    display: block;
    position: relative;
    width: 100%;
    height: 100%;
    text-decoration: none;
    color: #ffffff; }
    .menu__item--link::before {
      content: "";
      position: absolute;
      top: 0;
      right: 100%;
      width: 100%;
      height: 100%;
      background: #b4edb4;
      opacity: 0.1;
      -webkit-transition: right 0.3s ease-out;
      transition: right 0.3s ease-out;
      z-index: 200; }
    .menu__item--link:hover::before {
      right: 0px;
      -webkit-transition: right 0.3s ease-out;
      transition: right 0.3s ease-out;
      z-index: 200; }
  .menu__item--sporty {
    background-color: #ffa754; }
  .menu__item--oklubie {
    background-color: #e9532a; }
  .menu__item--aktualnosci {
    background-color: #49b5ac; }
  .menu__item--galeria {
    background-color: #3b9d89; }
  .menu__item--kontakt {
    background-color: #714178; }
  .menu__item--reforma {
    background-color: #000000; }
  .menu__item--social {
    background-color: #ffffff; }
  .menu__item--copyright {
    background-color: #ffffff;
    color: gray;
    font-size: 8px;
    text-transform: none; }
  .menu__item__img {
    max-width: 25px;
    margin: 2px; }
  .menu__item__img--wrapper {
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    text-align: center; }

@media (max-width: 768px) {
  .menu {
    height: 100vh;
    width: 100vw;
    overflow: auto;
    z-index: 101;
    display: none;
    list-style: none;
    position: absolute;
    background-color: #ffffff; }

  .menu__mobile {
    display: block;
    float: left;
    width: 50%;
    height: 33.3vh;
    z-index: 100;
    position: relative;
    padding: 20px;
    background-color: #ffffff;
    list-style: none;
    cursor: pointer; }
    .menu__mobile--icon {
      z-index: 102; }
    .menu__mobile--open {
      position: relative;
      cursor: pointer; }
    .menu__mobile--close {
      position: absolute;
      display: none;
      top: 0;
      left: 0;
      padding: 20px; }
    .menu__mobile--logo {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      margin: 0;
      padding: 0; }
    .menu__mobile--img {
      max-width: 135px;
      position: relative;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
              transform: translate(-50%, -50%); } }
/*Navigation Style - End*/
/*Sporty Style - Start*/
.sporty {
  float: left;
  width: calc(100% - 130px);
  height: 100vh;
  position: relative; }
  .sporty__wrapper {
    width: 100%;
    height: 100vh;
    margin: 0;
    padding: 0;
    text-align: center;
    color: #ffffff; }
  .sporty__item {
    float: left;
    height: 100vh;
    width: 20%;
    margin: 0;
    padding: 0;
    cursor: pointer;
    text-align: center;
    -webkit-transition: -webkit-transform 2s ease;
    transition: -webkit-transform 2s ease;
    transition: transform 2s ease;
    transition: transform 2s ease, -webkit-transform 2s ease;
    z-index: -10; }
    .sporty__item--link {
      display: block;
      width: 100%;
      height: 100%;
      text-decoration: none;
      color: #ffffff;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      overflow: hidden; }
    .sporty__item--title {
      font-family: "Montserrat", sans-serif;
      font-size: 24px;
      position: relative;
      top: 51px;
      text-align: center;
      text-transform: uppercase;
      line-height: 32px;
      padding-top: 35px;
      text-shadow: 0px 1px 5px #969696; }
    .sporty__item--squash {
      background-image: url(../img/kolor_sqh_1_image_normal.jpg); }
    .sporty__item--badminton {
      background-image: url(../img/kolor_bdm_1_image_normal.jpg); }
    .sporty__item--trening {
      background-image: url(../img/kolor_fit_1_image_normal.jpg); }
    .sporty__item--tenis {
      background-image: url(../img/kolor_ts_1_image_normal.jpg); }
    .sporty__item--36minut {
      background-image: url(../img/36minut_POD_0045_1_image_normal.jpg); }

@media (max-width: 768px) {
  .sporty {
    float: left;
    width: 100vw;
    height: auto;
    z-index: 90;
    vertical-align: middle; }
    .sporty__wrapper {
      width: 100%;
      height: auto; }
    .sporty__item {
      float: left;
      height: 33.3vh;
      width: 50%;
      margin: 0;
      padding: 0;
      cursor: pointer;
      text-align: center;
      -webkit-transition: -webkit-transform 2s ease;
      transition: -webkit-transform 2s ease;
      transition: transform 2s ease;
      transition: transform 2s ease, -webkit-transform 2s ease;
      z-index: -10; }
    .sporty__item:first-of-type {
      position: absolute;
      top: -33.3vh;
      left: 50%; } }
/*Sporty Style - End*/
