/*Variables - Start*/

$color-white: #ffffff;
$color-black: #000000;
$color-gray: #dddddd;
$color-light-red: #f43b3b;
$color-green: #367237;
$color-dark-navy-blue: #111d29;
$color-light-navy-blue: #7da4cd;
$color-dark-gray-blue: #23313f;
$color-light-gray-blue: #405a74;

$color-dark-blue: #192532;
$background-color: #22303f;


$font-general: 'Rubik', sans-serif;

/*Variables - End*/