.tfw-discount {
    position: relative;
    margin-top: 30px;
    margin-bottom: 30px;
    &-container {
        position: relative;
        height: 100%;
        margin: 0px;
        padding: 0px;
        margin-bottom: 10px;
    }
    &-content {
        display: inline;
        font-size: 24px;
        font-weight: 300;
        line-height: 28px;
        color: #ba272e;
        margin-top: 15px;
        text-align: center;
        width: 100%;
        &-bold {
            font-weight: 700;
        }
    }

}


.tfw-contact {
    position: relative;
    margin-bottom: 30px;
    &-container {
        position: relative;
        height: 100%;
        margin: 0px;
        padding: 0px;

    }
    &-content {
        display: inline;
        font-size: 24px;
        font-weight: 300;
        line-height: 28px;
        color: #ba272e;
        margin-top: 15px;
        text-align: center;
        width: 100%;
        &-bold {
            font-weight: 700;
        }
        &-link {
            color: #000;
            text-decoration: underline;
            &:hover {
                color: #ba272e;
            }
        }
    }

}

.tfw-film {
    position: relative;
    &-subtitle {
        width: 100%;
        background-color: #ba272e;
        color: #FFF;
        font-size: 16px;
        line-height: 32px;
        vertical-align: middle;
        margin-top: -10px;
        font-weight: 300;
        text-align: center;
        margin-bottom: 15px;
    }

}

.tfw-question {
    position: relative;
    margin: 0 auto;
    margin-bottom: 30px;
    &-box {
        position: relative;
    }
    &-bg {
        position: relative;
        display: inline-block;
    }
    &-content {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        padding: 20px;
        z-index: 1000;
        &-title {
            font-size: 30px;
            line-height: 60px;
            color: #FFF;
            font-weight: 700;
            padding: 15px 0;
        }
        &-text {
            font-size: 30px;
            line-height: 40px;
            color: #FFF;
            font-weight: 300;
        }

    }
}

@media (max-width: 575.98px) {

    .tfw-discount,
    .tfw-contact,
    .tfw-film,
    .tfw-question {
        top: 110px;
    }
    .tfw-contact {
        &-content {
            font-size: 18px;
            line-height: 22px;
        }
    }

    .tfw-question {
        &-content {
            padding: 10px;
            &-title {
                font-size: 18px;
                line-height: 22px;
                color: #FFF;
                font-weight: 700;
                padding: 5px 0;
            }
            &-text {
                font-size: 18px;
                line-height: 22px;
                color: #FFF;
                font-weight: 300;
            }
        }
    }
}
