/* General Style - START */

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Lato", sans-serif;
    font-size: 12px;
    color: #000;
}

/* General Style - END */

/* Nav Style - START */

nav {
    background-color: #222;
    height: 60px;
    width: 100%;

    position: fixed;
    top: 0;
    right: 0;
    z-index: 100;
}

nav#menu > ul > li {
    display: inline-block;
}

nav#menu > ul {
    text-align: center;
    margin-top: 20px;
}

nav#menu > ul > li > a {
    color: #fff;
    padding: 20px;
    text-decoration: none;
    text-align: center;
    font-size: 16px;
}

nav#menu > ul > li > a:hover {
    color: #222;
    background-color: #fff;
    font-weight: 800;
}

/* Nav Style - END */

/* Header Style - START */

header#header {
    position: relative;
    top: 0;
    right: 0;
}

header#header > img {
    width: 100%;
}

header#header > h1#main-header-text {
    position: absolute;
    top: 50%;
    left: 10px;
    right: 10px;
    margin: 0 auto;
    z-index: 99;
    color: #fff;
    font-size: 50px;
    text-transform: uppercase;
    text-align: center;
}

/* Header Style - END */

/* Section About - START */

#about {
    background-color: #fff;
    height: 150px;
    padding: 20px 40px;
}

#about > #about-header {
    font-size: 36px;
    text-align: center;
    padding-bottom: 20px;
}

#about > #about-header > p.about-content {
    font-size: 14px;
    text-align: center;
}

/* Section About - END */

/* Fotter - START*/

footer#contact {
    background-color: #222;
    padding: 40px 40px 5px 40px;
    color: #fff;
    text-align: center;
}

footer#contact > #contact-header {
    padding-bottom: 20px;
    font-size: 26px;
}

footer#contact > address#contact-content {
    font-style: normal;
    font-size: 13px;
    margin-bottom: 10px;
}

footer#contact address#contact-content > a {
    text-decoration-color: #fff;
    color: #fff;
}

footer#contact > ul#social > li {
    list-style: none;
    display: inline-block;
    margin: 10px;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    background-color: #fff;
    border-radius: 50%;
    font-size: 20px;
    position: relative;
    transition: 0.8s ease-in-out;
    color: #222;
    z-index: 1;
}

footer#contact > ul#social > li:before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #222;
    border-radius: 50%;
    transform: scale(0);
    transition: 0.8s ease-in-out;
    z-index: -1;
}

footer#contact > ul#social > li:hover:before {
    transform: scale(0.9);
}

footer#contact > ul#social > li:hover {
    color: #fff;
}

/* Fotter - END */
